{% extends "layout.html" %}
{% block sidebar %}{% include "cme-sidebar.html" %}{% endblock %}
{% block page_title %}CME Packages - Candidates{% endblock %}
{% block body %}
<div class="section" id="candidates">
<h1>CME packages - Candidates</h1>

<ul>
{% for package, value in candidates %}
<li><a href="/cme/pkg/{{ package }}">{{ package }}</a></li>
{% endfor %}
</ul>

</div>
{% endblock %}
