<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>The Debian Janitor &#8212; {% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="/_static/alabaster.css" type="text/css" />
    <link rel="author" title="About these documents" href="/about" />
    <link rel="stylesheet" href="/_static/typeahead.css" type="text/css" />
    <link rel="stylesheet" href="/_static/pygments.css" type="text/css" />
    <link rel="stylesheet" href="/_static/chart.css" type="text/css" />
    <link rel="stylesheet" href="/_static/datatables.css" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />
  </head><body>

    <script src="/_static/jquery.js"></script>
    <script src="/_static/jquery.typeahead.js"></script>
    <script src="/_static/jquery.datatables.js"></script>
    <script src="/_static/moment.js"></script>
    <script src="/_static/chart.js"></script>
    <script src="/_static/janitor.js"></script>
    <div class="document">
     {% block sidebar %}{% endblock %}
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">

            {% block body %}{% endblock %}

          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      &copy;2018-2020 <a href="/about">Jelmer Vernooĳ</a>.  <a href="https://salsa.debian.org/jelmer/debian-janitor/issues/new">File a bug</a>. <a href="https://salsa.debian.org/jelmer/debian-janitor">Source code</a>. Published under the GNU GPLv2 or later.
    </div>
  </body>
</html>
